[submodule "vendor/github.com/alecthomas/template"]
	path = vendor/github.com/alecthomas/template
	url = https://github.com/alecthomas/template
[submodule "vendor/github.com/alecthomas/units"]
	path = vendor/github.com/alecthomas/units
	url = https://github.com/alecthomas/units
[submodule "vendor/gopkg.in/alecthomas/kingpin.v2"]
	path = vendor/gopkg.in/alecthomas/kingpin.v2
	url = https://gopkg.in/alecthomas/kingpin.v2
[submodule "vendor/github.com/icedream/go-q3net"]
	path = vendor/github.com/icedream/go-q3net
	url = https://github.com/icedream/go-q3net.git
